* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: rgb(45, 87, 124);
    font-family: helvetica;
    background-image: url(images/abstract-landscape-red-alpenglow-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    width: 520px;
    background: transparent;
    border: 2px solid ;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.weather_container p{
    padding: 0px 30px 10px 30px;
}


.temperature p{
    font-size: 4rem;
    margin-top: 40px;
}
    

.location{
    font-size: 2.5rem;
}

#when{
    font-size: 1.5rem;
    display: flex;
    gap: 10px;

}

.condition{
    font-size: 1.75rem;
    margin-bottom: 40px;
}


.search_area{
    display: grid;
    margin: 0;
    padding: 0;    
    
}

.search_bar{
    background: transparent;
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    padding-left: 30px;
    border: 1px solid;
}

.search_bar::placeholder{
    color: rgb(49, 49, 49);
}

button{
    background-color: rgb(248, 100, 63);
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    border: none;
}